*{
    margin: 0;
    padding: 0;
}
.color{
    background-color: #f2f6f5;
    text-align: center;
    padding: 3%;
    font-size: 20px;
}

.text{
    display: inline-block;
    width: 80%;
    font-family: 'Noto Sans', sans-serif;
}


.text img, .text h1, .text p, ul{
    float: left;
    width: 18%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}
.text h1{
    width: 28%;
    padding-top: 7%;
}
.text img{
    border: 1px solid black;
    border-radius: 30px;
    padding: 0;
}
.color p{
    padding-top: 7%;
}
ul{
    padding-top: 7%;
    text-align: left;
}
@media (max-width: 900px){
    .text img, .text h1, .text p, ul{
        float: none;
        width: 100%;
        margin: 1% 4% 1%;
    }
    .text img{
        width: 50%;
    }
    ul{
        margin-left: 20%;
    }
}




.list{
    text-align: center;
}

.list1{
    float: left;
    width: 48%;
    padding: 1%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    list-style: none;
    background-color: #28c3d4;
}

.list2{
    float: left;
    width: 48%;
    padding: 1%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    list-style: none;
    background-color: #248ea9;
}
.list p{
    font-size: 25px;
    font-family: 'PT Serif', serif;
    padding: 2%;
    color: #fff;
}
ol li{
    padding: 1%;
    color: #fff;
}

.list1 p{
    background-color: #248ea9;
    margin: 1% 30%;
}

.list2 p{
    background-color: #28c3d4;
    margin: 1% 30%;
}
