*{
    margin: 0;
    padding: 0;

}




.text{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10%;
    color: white;
    font-size: 20px;
    align-items: center;
    
}
.text img{
    flex: 1;
    border-radius: 80px;
    border: solid 1px black;
}

.text h1{
    flex: 2;
    width: 25%;
    text-align: center;
}
.text p{
    flex: 1;
    width: 25%;
    text-align: center;
}

.text ul{
    flex: 1;
    list-style-type: none;
    text-align: center;
}

.color{
    background-color: #50b6bb;
   
}


@media(min-width: 900px){
   .list{
    display: flex;
   }
   .text{
       display: flex;
   }
}



.list p{
    font-weight: bold; 

    color: yellow;

}

.list1{
    background-color: #f96d15 ;
    padding: 30px;
    color: white;
    flex: 1; 
    font-size: 1.6em;
    flex-basis: auto;
    text-align: center;
    list-style-type: none;
    
}

.list2{
    background-color: #eb5f5d;
    color: white;
    font-size: 1.6em;
    padding: 30px;
    flex: 1; 
    flex-basis: auto;
    text-align: center;
    list-style-type: none;
}

.list li{
    margin: 10px;
}
